In [1]:
# import dependencies
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# find and extract csv file, read the header
election_data_csv_path = 'Resources/election_data.csv'
election_data_df = pd.read_csv(election_data_csv_path, encoding='utf8')
election_data_df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [3]:
# determine number of votes cast
totesvotes = len(election_data_df['Ballot ID'])
totesvotes

369711

In [4]:
candidate_list = np.unique(election_data_df['Candidate'])
print(candidate_list)

['Charles Casper Stockham' 'Diana DeGette' 'Raymon Anthony Doane']

In [5]:
# number of votes per candidate
votecount = election_data_df['Candidate'].value_counts()
print(votecount)

Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64

In [6]:
allvotes = sum(election_data_df['Candidate'].value_counts())
allvotes

369711

In [ ]:
candidate1 = election_data_df[(1), 'Candidate'].value_counts()

In [ ]:
def print_percentages(row):
    votecount = row
    Candidate = row[0]
    Diana_DeGette = int(votecount[1])
    Charles_Stockham = int(votecount[2])
    Raymon_Doane = int(votecount[3])

In [14]:
summary_df = pd.DataFrame([{'Candidate': votecount}])
summary_df

                                           candidate
0  Diana DeGette              272892
Charles Casp...