In [17]:
import pandas as pd
import os
import csv

In [18]:
budget_data_csv_path = "Resources/budget_data.csv"
budget_data_df = pd.read_csv(budget_data_csv_path, encoding = "utf8")
budget_data_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [19]:
budget_data_df.describe()

       Profit/Losses
count   8.600000e+01
mean    2.623744e+05
std     6.244057e+05
min    -1.194133e+06
25%    -1.944645e+05
50%     4.528330e+05
75%     7.494155e+05
max     1.141840e+06

In [20]:
# total number of months in dataset
total_months_df = len(budget_data_df["Date"].value_counts())
total_months_df

86

In [23]:
# Net total amount of Profits/Losses over the entire period
net_df = budget_data_df['Profit/Losses'].sum()
net_df

22564198

In [24]:
change_mean_df = budget_data_df['Profit/Losses'].mean()
change_mean_df

262374.3953488372