In [8]:
# import dependencies
import pandas as pd
import os
import csv
import numpy

In [9]:
# find and read CSV file
budget_data_csv_path = "Resources/budget_data.csv"
budget_data_df = pd.read_csv(budget_data_csv_path, encoding="utf8")
budget_data_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [10]:
budget_data_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [25]:
# determine number of entries 
totalmonths = len(budget_data_df['Date'])
print(totalmonths)

86

In [24]:
# sum of ProfitLoss column
sumprofit = budget_data_df['Profit/Losses'].sum()
print(sumprofit)

22564198

In [26]:
# discrete difference of ProfitLoss column
change_df = budget_data_df['Profit/Losses'].diff()
print(change_df)

0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64

In [57]:
# average of discrete difference of ProfitLoss column
avgchange_df = change_df.mean()
print(avgchange_df)

-8311.105882352942

In [30]:
# determine Min and Max values from list of column changes
max_change_df = change_df.max()
min_change_df = change_df.min()

print(max_change_df)
print(min_change_df)

1862002.0
-1825558.0

In [55]:
# print to terminal
print('Financial Analysis')
print()
print('-----------------------')
print()
print('Total Months: ' + str(totalmonths))
print()
print('Total: ' + str(sumprofit))
print()
print('Average Change: ' + str(rounded_avgchange_df))
print()
print('Greatest Increase in Profits: ' + str(max_change_df))
print()
print('Greatest Decrease in Profits: ' +str( min_change_df))

Financial Analysis

-----------------------

Total Months: 86

Total: 22564198

Average Change: -8311.105882352942

Greatest Increase in Profits: 1862002.0

Greatest Decrease in Profits: -1825558.0

In [ ]:
# export as a text file